.formblock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 380px;
}

.formblock,
.formfields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formwrap {
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
}

.formtitle h1 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 32px;
}

.formtitle h3 {
  width: 250px;
  margin-top: 14px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.emailInputWrap,
.nameInputWrap,
.passInputWrap,
.passRepeatInputWrap {
  position: relative;
}

.formfields input,
.formfields select {
  width: 250px;
  height: 38px;
  border-radius: 14px;
  border: solid 1px #c0c6cd;
  padding-left: 20px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  color: black;
  margin-bottom: 6px;
  background: transparent;
}

.formfields button {
  color: #fff;
  width: 150px;
  height: 50px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
  border-radius: 14px;
  margin-top: 10px;
}

.formfields label {
  align-self: flex-start;
  margin-left: 40px;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: left;
}

/* Icons */

.formIcons {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
}

.waringIcon {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 18px;
}

.demoAccess {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
}

.demoAccess p {
  margin: 5px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}
