* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Fonts for all componenets */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Generic classes */

#root {
    height: 100vh;
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 28px;
    }
}
