* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Fonts for all componenets */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Generic classes */

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;

  background-image: url("./assets/images/homepage.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.submit-enabled {
  background-color: rgba(205, 86, 35, 1);
  border: solid 1px rgba(205, 86, 35, 1);
}

.submit-disabled {
  background-color: rgba(205, 86, 35, 0.5);
  border: solid 1px rgba(205, 86, 35, 0.5);
}

.warning-icon {
  fill: orange;
}

#emailValue {
  position: relative;
}

h2 {
  padding: 5px 10px;
  font-family: Lato, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #999999;
}

h3 {
  padding: 5px 10px;
  font-family: Lato, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #999999;
}

h4 {
  padding: 5px 10px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #999999;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 28px;
  }
}
